@import url('https://fonts.googleapis.com/css2?family=Lato&family=Oswald:wght@400;600&family=Poppins:wght@500&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    height: 800px; /*margin para teste*/

}

/*
nav{
    background-color: red !important;
}
*/

.row{
    /*
    margin-top: 10px !important;
    */
    margin-bottom: 5px !important;
    
}

.navbar{
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;
}

.color-background-navbar{
    background-color: red !important;
}

.margin-nav{
   padding: 5px !important;
   background-color: red;
}

.nome-empresa{
    margin-top: 70px;
}

.logo-empresa-circulo {
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    padding: 8px 0 0 0;
    box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.2);

}

.logo-empresa-interno {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    background-color: red;
    margin: 0 auto;
    background: url('imagens/bacanas.png') center center no-repeat; 
    background-size: 85px 65px;
    box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.3);

}

.categorias{
   
}

.status-aberto{
    color: rgb(47, 170, 47);
    font-size: 12px;
}

.status-fechado{
    color: rgb(255, 65, 65);
    font-size: 12px;
}

.circle-status-aberto{
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 1px;
    background-color: rgb(47, 170, 47);
}

.circle-status-fechado{
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 1px;
    background-color: rgb(255, 65, 65);
}

#toggle-info-horarios{
    display: none;
}

.tabs, .tabs a{
    color: red !important;
    background-color: transparent !important;
}

.indicator{
    background-color: red !important;
}

.img-produto{
    max-width: 120px;
}

.text-titulo-produto{
    font-size: small;
}

.text-descrição-produto{
    font-size: smaller;
    color: gray;
}

.text-valor-produto{
    margin-top: 5px;
    font-size: smaller;
}

.text-valor-produto-carrinho{
    font-size: smaller;
}

.text-valor-total-carrinho{
    font-size: 15px;
}

hr {
    border-top: 0.1px solid rgba(0, 0, 0, 0.2);
}

.linha-categorias{
    margin-top: -2px;
    border-top: 2px solid rgba(0, 0, 0, 0.2);
}

.input-quantidade-produto{
    width:10% !important;
    padding: 6px !important;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.8);
    height: 36px
}

.input-adicional-produto {
	width:100px;
    padding: 6px !important;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.8);
    height: 36px
}

.input-adcionar-produto{
    padding: 6px !important;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.8);
    height: 36px
}

/*
.input-field input[type=text]:focus {
    border-bottom: 1px solid #000 !important;
    box-shadow: 0 1px 0 0 #000 !important;
}
*/

.subtotal-valor-produto{
    margin-top: 7px;
    margin-left: 25px;
    font-size: 15px;
}

.subtotal-cart{
    font-size: large;
    margin-top: 0.8rem !important;
}

.font-quantidade-und{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.btn-adicionar-carrinho{
    width: 180px;
    font-size: 12px !important;
    padding: 1px !important;
    letter-spacing: 0 !important;
}

.btn-enviar-pedido{
    width: 180px;
    font-size: 15px !important;
    padding: 1px !important;
    letter-spacing: 0 !important;
}

/* Radio Button forma de Pagamentos*/

[type="radio"]:not(:checked)+span:before, 
[type="radio"]:not(:checked)+span:after, 
[type="radio"]:checked+span:before, 
[type="radio"]:checked+span:after, 
[type="radio"].with-gap:checked+span:before, 
[type="radio"].with-gap:checked+span:after{
    border-radius: 20% !important;
}

[type="radio"]:checked+span:after, 
[type="radio"].with-gap:checked+span:after {
    background-color: red !important;
}

[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:before, [type="radio"].with-gap:checked+span:after {
    border: 2px solid red !important;
}

[type="label"]:checked+span:after, 
[type="label"].with-gap:checked+span:after {
    color: red !important;
}

.footer-fixed{
    height: 35px;
    background-color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 99;
    padding-bottom: 50px;
    color: rgb(73, 73, 73);
}

.icon-home{
    margin-top: 6px;
    margin-left: 5px;
}

.icon-cart{
    font-weight: 2rem !important;
}

.icon-send{
    font-size:x-large !important;
}

.icon-excluir-itens-carrinho{
    margin-top: -3px;
}

.icon-expand-horario{
    font-size: 19px !important;
    margin-left: -15px;
    color: rgb(47, 170, 47);
}

.toast {
    width: 250px !important;
    font-size:12px !important;
    margin-bottom: 15px;
    background-color: rgb(255, 41, 41) !important;
}

/*Desativando Padrão de Margem do Icone Collapse*/
.collapsible-header i {
    margin-right: 0 !important;
}

.text-center-align{
    position: relative;
    top: 9px;
}

.text-right-align{
    float: right;
    display: block;
}

.text-size{
    font-size:13px;
}

.ml-1{
    margin-left: 0.3rem !important;
}

.ml-2{
    margin-left: 2.2rem !important;
}

.mr-1{
    margin-right: 0.3rem !important;
}

.mt-1{
    margin-top: 1rem !important;
}

.mt-2{
    margin-top: 1.2rem !important;
}

.mt-3{
    margin-top: 0.6rem !important;
}

.mt-4{
    margin-top: 3.5rem !important;
}

.mt-5{
   margin-top:  6rem !important;
}

.mb-1{
    margin-bottom: 1rem !important;
}

.mb-2{
    margin-bottom: 2rem !important;
}

.mb-3{
    margin-bottom: 3rem !important;
}

.mb-4{
    margin-bottom: 4rem !important;
}

.mb-5{
    margin-bottom: 5rem !important;
}

.mb-row{
    margin-bottom: 0px !important;
    padding: 0 !important;
}

.p-0{
    padding: 0 !important;
}

.pg-1{
    padding: 1rem !important;
}

.text-center{
    text-align: center !important;
}

.margin-align-end {
    text-align: end !important;
}

.margin-align-start {
    text-align: start;
}

.text-align-start{
    text-align: start !important;
}

.text-align-end{
    text-align: end !important;
}
