@import url('https://fonts.googleapis.com/css2?family=Lato&family=Oswald:wght@400;600&family=Poppins:wght@500&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    height: 800px; /*margin para teste*/

}

/*
nav{
    background-color: red !important;
}
*/

.row{
    /*
    margin-top: 10px !important;
    */
    margin-bottom: 5px !important;
    
}

.color-background-navbar{
    background-color: red !important;
}

.margin{
   padding: 5px !important;
   background-color: red;
}

.nome-empresa{
    margin-top: 70px;
}

.logo-empresa-circulo {
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    padding: 8px 0 0 0;
    box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.2);

}

.logo-empresa-interno {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    background-color: red;
    margin: 0 auto;
    background: url('imagens/bacanas.png') center center no-repeat; 
    background-size: 85px 65px;
    box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.3);

}

.categorias{
   
}


.tabs, .tabs a{
    color: red !important;
    background-color: transparent !important;
}

.indicator{
    background-color: red !important;
}

.img-produto{
    max-width: 120px;
}

.text-titulo-produto{
    font-size: small;
}

.text-descrição-produto{
    font-size: smaller;
    color: gray;
}

.text-valor-produto{
    margin-top: 5px;
    font-size: smaller;
}

hr {
    border-top: 0.1px solid rgba(0, 0, 0, 0.2);
}

.linha-categorias{
    margin-top: -2px;
    border-top: 2px solid rgba(0, 0, 0, 0.2);
}


.input-adicional-produto {
	width:100px;
    padding: 6px !important;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.8);
    height: 36px
}

.input-adcionar-produto{
    width:100px;
    padding: 6px !important;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.8);
    height: 36px
}
.btn-adicional{
   
}

.btn-adicionar-carrinho{
    width: 150px;
    font-size: 12px !important;
    padding: 1px !important;
    letter-spacing: 0 !important;
}

.footer-fixed{
    height: 35px;
    background-color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 99;
    padding-bottom: 50px;
    color: rgb(73, 73, 73);
}

.icon-home{
    margin-top: 6px;
    margin-left: 5px;
}

.text-center-align{
    position: relative;
    top: 9px;
}

.text-right-align{
    float: right;
    display: block;
 
}
.text-size{
    font-size:13px;
}

.ml-1{
    margin-left: 0.3rem !important;
}

.ml-2{
    margin-left: 2.2rem !important;
}

.mt-1{
    margin-top: 1rem !important;
}

.mt-2{
    margin-top: 1.2rem !important;
}

.mt-3{
    margin-top: 0.6rem !important;
}

.mt-4{
    margin-top: 4rem !important;
}

.text-center{
    text-align: center !important;
}